html, body{
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.left{
    float: left;
}
.right{
    float: right;
}
/* main start */
p{
    font-size: 16px;
    line-height: 120%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}
h1{
    font-size: 47px;
    line-height: 120%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
}
h2{
    font-size: 36px;
    line-height: 120%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}
h3{
    font-size: 27px;
    line-height: 120%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}
h4{
    font-size: 21px;
    line-height: 120%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
}
a{
    color: black;
    text-decoration: none;
    font-size: 21px;
    margin: 10px 12px;
    font-weight: 500;
}
.button{
    border: 1px solid #2203E4;
    text-align: center;
    padding: 10px 16px;
    background-color: white;
    color: #2203E4;
    font-size: 21px;
    margin: 12px;
    font-weight: 500;
}
/* main end */
header{
    padding: 16px 12px;
    margin: 0 auto;
    width: 1512px;
    height: 96px;
}
.logo{
    width: 200px;
}
.Menu{
    margin: 20px 0px;
}
/* header end */
.first-screen{
    margin: 118px auto;
    width: 1150px
}
.block01{
    margin-top: 137px;
}
.block01 p{
    padding: 24px 0;
}
.blue{
    padding: 10px 16px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 120%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: white;
    background-color: #0062FF;
    border: none;
}
.white{
    padding: 9px 16px;
    font-size: 16px;
    line-height: 120%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #575757;
    background-color: white;
    border: 1px solid #575757;
}
/* section first-screen end */
.authors{
    width: 1200px;
    margin: 0px auto;
}
.title{
    text-align: center;
}
.title p{
    color: #575757;
    padding-top: 12px;
}
.about-mark{
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 1190px;
}
.author-pic{
    margin: 12px 0px;
}
.author-info{
    padding-left: 45px;
}
.author-info h4{
    color: #575757;
}
.author-info p{
    color: #575757;
    padding-top: 12px;
    padding-bottom: 24px;
}
.icon{
    padding-right: 19px;
}
.choose-author {
    margin: 7px auto;
    width: 237px;
}
.choose-author p{
    color: #FFBE0B;
    padding-left: 20px;
}
.choose-author h4{
    color: #DEA405;
    padding-left: 20px;
}
.choose-author img{
    vertical-align:middle;
    margin: 28px 0px;
    margin-right: 6px;
}
.active-author{
    padding: 8px 0;
}
.active-author h3{
    color: #575757;
    padding-left: 0px;
}
.active-author h4{
    padding-left: 0px;
    color: black;
}
/* section Authors end  */
.for-who{
    margin-top: 143px;
    margin-bottom: 64px;
    width: auto;
    background-color: #0062FF;
    padding: 71px 0px;
    color: white;
    text-align: center;
}
.for-who h2{
    padding-bottom: 16px;
    text-align: center;
}
.for-who-descrip{
    padding-bottom: 64px;
    text-align: center;
}
.cards{
    margin: 0px auto;
    margin-bottom: 46px;
    width: 1262px;
}
.card div{
    padding-left: 34px;
    margin: 14px auto;
    text-align: left;
}
.card h3{
    padding-bottom: 8px;
}
.white-b{
    padding: 9px 16px;
    font-size: 16px;
    line-height: 120%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #2203E4;
    background-color: white;
    border: 1px solid #2203E4;
    margin-top: 18px;
}
/* <!-- section for-who end --> */
.img-title{
    margin: 0px auto;
    margin-top: 44px;
    width: 1100px;
}
.titles {
    margin: 11px auto;
}
.titles div{
    padding-bottom: 24px;
}
.titles div:last-child{
    padding-bottom: 0px;
}
/* <!-- section check-demo end --> */
.opinions{
    margin-top: 130px;
    margin-bottom: 89px;
    width: auto;
    background-color: #FFBE0B;
    text-align: center;
    padding: 67px 0px;
}
.feedback{
    background-color: white; 
    margin: 0px auto;
    margin-top: 42px;
    width: 702px;
    height: 230px;
    border-radius: 12px;
    text-align: left
}
.jones{
    width: 333px;
    height: 33px;
}
.star{
    padding-left: 5px;
}
.message{
    padding: 94.5px 0;
    padding-left: 16px;
    padding-right: 12px;
}
.feedback-text{
    margin: 59px auto;
}
.feedback-text p{
    color: #575757;
    padding-top: 16px;
}
/* <!-- section opinions end --> */
.product{
    margin: 74px auto;
    width: 927px;
}
.iphone13-small{
    width: 327px;
    height: 321px;
}
.product-text{
    margin: 72px auto;
}
.review{
    width: 260px;
    height: 26px;
    margin-bottom: 16px;
}
.review div:last-child{
    margin: 4px auto;
}
.product-text p{
    color: #575757;
    padding: 16px 0;
}
.product-text h2{
    color: #2203E4;
}
.discount{
    text-align: center;
    margin-bottom: 104px;
}
#email{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 26px;
    text-decoration: none;
    background-color: rgba(58, 134, 255, 0.2) ;
    border: none;
    border-radius: 12px;
    width: 508px;
    color: #2203E4;
}
::placeholder {
    color: #2203E4;
}
.blue-long{
    padding: 10px;
    font-size: 16px;
    line-height: 120%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: white;
    background-color: #0062FF;
    border: none;
    width: 508px;
}
.type-email {
    margin: 0px auto ;
    margin-top: 28px;
}