h1{
    color: #bc0000;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
p{
    color: rgb(31, 23, 22);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
a{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #bc0000;
}
div{
    width: 300px;
    margin: 50px auto;
    border: 1px solid rgb(31, 23, 22);
    padding: 20px 30px;
}
.block-black {
    background-color:rgb(31, 23, 22);
}
.block-black *{
    color: white;
}
a[href="https://uk.wikipedia.org/wiki/%D0%A2%D1%8E%D0%BB%D1%8C%D0%BF%D0%B0%D0%BD"]{
    color: white;
    padding-bottom: 20px;
}
